*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
*:focus {
    outline: 0 !important;
}

.flex-btw-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

body{
    margin: 0 180px;
    background-color: #FBF6F1;
}

img {
    -khtml-user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.navbar {
    margin: 40px 0 50px 0;
}

li{
    list-style-type: none;
}

.boldtitle, .subtitle, .hero_subtitle {
    font-family: 'Mulish', sans-serif;
    text-align: center;
    color: #262626;
}

.boldtitle {
    font-weight: 600;
    font-size: 14px;
} 

.subtitle {
    font-weight: 400;
    font-size: 14px;
}

.hero_subtitle {
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 8px;
    line-height: 150%;
}

.page_title,.hero_title {
    font-family: Yeseva One;
    font-style: normal;
    font-weight: normal;
    color: #262626;
}

.page_title{
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
}

.hero_title {
    font-size: 48px;
    line-height: 150%;
    margin-bottom: 22px;
}

.hero_wrapper {
    position: fixed; top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.body_container {
    display: flex;
    justify-content: center;
}

.tool_wrapper {
    height: 30px;
    margin-bottom: 10px;
    padding-top: 10px;
}


.left_tool {
    width: 100px;
}

.category_container, .canvas{
    width: 535px;
    height: 535px;
    background-color: #FFFFFF;
    border: 0.5px solid #C6C6C6;
    box-sizing: border-box;
    border-radius: 3px;
    overflow: hidden;
    touch-action: none;
}

button:hover {cursor: pointer;}

#btn_save, #btn_start {
    background: #FFC398; 
    border: none;
    border-radius: 3px;
}

#btn_save {
    width: 85px;
    height: 30px;
    padding: 0 15px 0 35px;
    background: url("icons-assets/tick.svg") no-repeat 15px 50%;
}

#btn_start {
    width: 130px;
    height: 44px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#btn_back, #btn_renew, #btn_undo, #btn_redo, #btn_search, #btn_love, #btn_plus {
    width: 24px;
    height: 24px;
    border: none;
    background-color: transparent;
}

#btn_back {
    background: url(icons-assets/fi_arrow-left.svg) no-repeat center center;
    position: absolute;
}

#btn_renew {
    background: url(icons-assets/fi_rotate-cw.svg) no-repeat center center;
}

#btn_undo {
    background: url(icons-assets/fi_corner-up-left.svg) no-repeat center center;
}

#btn_redo {
    background: url(icons-assets/fi_corner-up-right.svg) no-repeat center center;
}

#btn_search {
    background: url(icons-assets/fi_search.svg) no-repeat center center;
}

#btn_love {
    background: url(icons-assets/heart.svg) no-repeat center center;
}

#btn_plus {
    background: url(icons-assets/fi_plus-circle.svg) no-repeat center center;
}

#btn_delete {
    background: url(icons-assets/cross.svg)
}

.category_wrapper, .item_wrapper {
    width: 535px;
    height: 535px;
    padding: 40px 15px 20px 20px;
    overflow: auto;
}

.category, .item{
    float: left;
    min-width: 110px;
    min-height: 130px; 
    margin: 0 10px 30px 0;
    touch-action: none;
}
.category_thumb, .item_thumb{
    width: 110px;
    height: 110px;
    object-fit: contain;
}

.category_thumb:hover, .item_thumb:hover {
    filter: drop-shadow(3px 3px 1px rgba(0, 0, 0, 0.25));
    cursor: pointer;
}

img:-moz-drag-over{
    object-fit: contain;
}

.chosen_item:hover {
    cursor: move;
}

.resizable, .unresizable {
    display: inline-block;
    background: transparent;
    overflow: hidden;
    line-height: 0;
}

.resizable {
    resize: both;
}
   
.resizable img, .unresizable img {
    width: 100%;
    height: 100%;
}

.search_box {
    border: solid 3px #262626;
    display: inline-block;
    position: relative;
    border-radius: 50px;
    height: 21px;
  }

.search_box input[type="text"] {
    font-size: 14px;
    width: 15px;
    height: 15px;
    border: none;
    box-sizing: border-box;
    border-radius: 50px;
    /* padding: 0 15px; */
    transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 0.5) 600ms;
}

.search_box input[type="text"]:focus {
    outline: none;
}

.search_box input[type="text"]:focus, .search_box input[type="text"]:not(:placeholder-shown) {
    height: 25px;
    width: 100px;
    transition: width 800ms cubic-bezier(0.5, -0.5, 0.5, 1.5);
} 

.search_box input[type="text"]:focus + span, .search_box input[type="text"]:not(:placeholder-shown) + span {
    bottom: 10px;
    right: 15px;
    transition: bottom 300ms ease-out 800ms, right 300ms ease-out 800ms;
}

.search_box input[type="text"]:focus + span:after, .search_box input[type="text"]:not(:placeholder-shown) + span:after {
    top: 0;
    right: 1px;
    opacity: 1;
    transition: top 300ms ease-out 1100ms, right 300ms ease-out 1100ms, opacity 300ms ease 1100ms;
}

.search_box span {
    width: 3px;
    height: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -3px;
    transition: bottom 300ms ease-out 300ms, right 300ms ease-out 300ms;
}

.search_box span:before, .search_box span:after {
    content: "";
    height: 10px;
    border-left: solid 3px #262626;
    position: absolute;
    transform: rotate(-45deg);
}

.search_box span:after {
    transform: rotate(45deg);
    opacity: 0;
    top: -20px;
    right: -10px;
    transition: top 300ms ease-out, right 300ms ease-out, opacity 300ms ease-out;
}
  
.highlight {
    background: linear-gradient(to bottom, transparent 60%, #FFEDCB) center center/0% 75% no-repeat;
    background-size: 100% 100%;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-25px);
	}
	100% {
		transform: translatey(0px);
	}
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

.floating {
    transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
}

.spinning {
    -webkit-animation:spin 6s linear infinite;
    -moz-animation:spin 6s linear infinite;
    animation:spin 6s linear infinite;
}

